<head>
    <meta charset="utf-8">
    <title>client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/core.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/charts.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/plugins/timeline.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/plugins/bullets.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/maps.js"></script>
    <script src="refer/amcharts_geodata_4.1.12/geodata/vietnamLow.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/themes/dark.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/themes/animated.js"></script>
    <script src="refer/Customizable-Animated-jQuery-HTML5-Gauge-Meter-Plugin/Customizable-Animated-jQuery-HTML5-Gauge-Meter-Plugin/GaugeMeter.js"></script> 
    <script type="text/javascript" src="refer/svg-gauge-master/src/gauge.js"></script>
    <script src="socket.io/socket.io.js"></script>


    <script src="js/mainConfig.js"></script>
    <script src="js/user/temperature.js"></script>
    <script src="js/user/pressure.js"></script>
    <script src="js/user/i.js"></script>
    <script src="js/user/u.js"></script>
    <script src="js/user/speed.js"></script>
    <script src="js/user/frequency.js"></script>
    <script src="js/user/consentrationChart.js"></script>
    <script src="js/user/timerun.js"></script>
    <script src="js/user/power.js"></script>
    <script src="js/dashboad/addcontact.js"></script>
    <script src="js/dashboad/ichartdb.js"></script>

    <link href="css/user/client-col1.css" rel="stylesheet">
    <link href="css/user/client-col2.css" rel="stylesheet">
    <link href="css/user/client-col3.css" rel="stylesheet">
    <link href="css/user/gauge.css" rel="stylesheet">
    <link href="css/user/dropdown.css" rel="stylesheet">

    
</head>
<body>
    <!--body-->
    <div class="container-fluid">
        <!--row navbar-->
        <%- include("navbar/navbar"); %>
        <div class="row">
            <!--col1 information and infor user -->
            <%- include("col1/master"); %>
            <!--col2 electrical-->
            <%- include("col2/master"); %>
            <!--col3 environment-->
            <%- include("col3/master"); %>
        </div>    
    </div>
    <!--dashboas-->
    <!--I dashboad-->
    <%- include("dashboad/Idashboad"); %>
    <%- include("dashboad/Udashboad"); %>
    <script src="js/user/gauge.js"></script>
</body>